<div class="text-center p-5"id="articleRow">
    {{#each data}}
    {{#unless saved}}
    <div class="row rounded bg-white my-3 p-3" style="border-color:blue;border-width:thick;border-style:solid;box-shadow:black 3px 3px 3px 3px;">
        <div class="col-lg-3">
           <img width="300px"height="200px"class="img-thumbnail"src="{{this.image}}" alt="">
        </div>
        <div class="col-lg-8 mx-4">
        <h3><a style="word-wrap:normal;text-decoration:underline;" href="{{this.link}}">{{this.title}}</a></h3>
        <p>{{this.paragraph}}</p>
        <button type="button"id="buttonSave"data-id="{{this._id}}" class="buttonSave btn btn-primary my-2">Save Article</button>
        </div>
    </div>
    {{/unless}}
    {{/each}}
</div>